# Artifact directories
dist/*
public/dist/*

# Environment variables
.env

# Packet managers
node_modules/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

# IDE Settings
.vscode/*
.idea/*

# WSL File of whatever the hell is it...
*.Identifier
